ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2d1506;
}

li {
    float: right;
    width: 200px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
li.logo{
    display: block;
    float: left;
    width: 200px;

}
