@import url("./supermarket/stylesheet.css");
body{
      font-family: supermarket;
      font-size: 25px;
      font-style: #584d48;
      color: #584d48;

      margin: 0px;
    }
  .container .page-header form {
  font-family: supermarket;
}


.App {
  text-align: center;
}

.App-logo {

  height: 45px;
  margin: -10px;

}
.App-line_QRcode {
    color: #0f0f0f;
    height: 90px;
    margin: 5px;

}
.App-line_button {


    margin: 5px;

}

.App-header {
  height: 70px;
  padding: 20px;
  margin: 0px;
  color: white;
}
.App-body{
  padding-top: 55px;
  padding-bottom: 120px;
}
.App-sidebar{
  padding-top: 110px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.img{
    vertical-align:middle;
    width: 1150px;
    height: 500px;
}
.vertical-align:middle;{
    align-self: center;
}

